.DS_Store
img/m/
*.~lock*
data/.~lock*
fonts/
alt/
data/
misc/
*.ai
data/*.xlsx
data/xlsx
js/alt_190806
js/d3.v5.min.js
js/jquery.min.js
js/select2.min.js
css/select2.css
css/select2.png
css/select2x2.png
